.moving-text {
    position: relative;
    overflow: hidden;
  }
  
  .text-line {
    animation: moveText 15s linear infinite;
    white-space: nowrap;
  }
  
  @keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  