.sidebar-admin-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }
  
  .sidebar-container {
    width: 250px;
    background-color: #7c0606;
    margin-top: 3rem;
  }
  
  
  .sidebar-admin {
    height: 100vh;
  }
  
  .sidebarList-admin {
    height: 100%;
    padding: 0;
  }
  
  .sidebarList-admin .row-admin {
    height: 70px;
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-family: 'Trebuchet MS';
  }
  
 .row-admin.active {
    background-color: #323F52;
  }
  
  .sidebarList-admin .row-admin:hover {
    cursor: pointer;
    background-color: #323F52;
  }
  
  .icon-admin {
    flex: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
  }
  
  .title-admin {
    flex: 70%;
  }
  
  .content {
    flex: 1;
    background-color: #f2f2f2;
    margin-left: 20%;
  }
  